
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

li {
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: rgb(116, 117, 179);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgb(114, 155, 250)
}

.nav-links {
    list-style: none;
    
}

.nav-links li {
    display: inline-block;
    padding: 0px 5px;
}

.nav-links {
    transition: all 3.0s ease 0s;
}

.nav-links li:hover {
    color: red;
}

header p {
    margin-right: auto;
}

.activeLink {
    color: rgb(7, 7, 146)
}

.logo {
    margin-left: 2vw;
}