.container {
    text-align: center; 
    padding: 20px;
    margin: 0 auto;
    position: relative;
    left: 25vw;
    
}

.column-sm {
    display: inline-block;
    position: relative;
    left: 5vw;
    
}