@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel&display=swap');



.box {
    width: 15vw;
    height: 100vh;
    border: 2px solid black;
    background-color: rgb(19, 6, 47);
    padding: 15px;
    box-sizing: border-box;

}

.genreList {
    font-family: 'Cinzel', serif;
    font-size: 28px;
    color: whitesmoke;
}