@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel&display=swap');




/* fix stupid flexbox */


.box {
    width: 250px;
    height: 100%;
    border: 2px solid black;
    background-color: rgb(19, 6, 47);
    padding: 15px;
    box-sizing: border-box;
   
   

}

.genreList {
    font-family: 'Cinzel', serif;
    font-size: 140%;
    color: whitesmoke;
    width: 15vw;
}

.search {
    padding: 20px;
}


.menuItems{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    margin-top: 120px;
    
    
}

.btn-primary{
    width: 200px;
}
